@model int
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="~/css/logo-claro-png_optimized.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Claro Challenge </title>
</head>
<body>
    <h1>Metricas</h1>
    <div>
    <div class ="cards">
        <p>Tickets abertos:@Model</p>
    </div>
    <div class ="cards">
        <p>Tickets Resolvidos:65</p>
    </div>
    <div class ="cards">
        <p>Tickets em andamento:28</p>
    </div>
    <div class ="cards">
        <p>Tickets cancelado:6</p>
    </div>

    </div>

    <div>
        <h2>Problemas mais comuns</h2>
        <div class="cards">
            <p>Quedas Constantes</p>
        </div>
        <div class="cards">
            <p>Sem conexão</p>
        </div>
        <div class="cards">
            <p>Lentidão</p>
        </div>
    </div>
</body>
</html>
