@model Projeto_Claro.Models.HistoricoViewModel

<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<link rel="icon" href="~/css/logo-claro-png_optimized.png" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Claro Challenge </title>
</head>
<body>


    <form asp-action="HistoricoTicket" asp-controller="Ticket" method="post">
    
        <div>
            <label asp-for="MyCPF">CPF:</label>
            <input asp-for="MyCPF" type="text" />
            @Html.ValidationMessage("CPF")
        </div>

        <button type="submit">Buscar</button>
    
    </form>


    <card>
        @if (Model != null && Model.Tickets.Any())
        {

            @foreach (var ticket in Model.Tickets)
            {

                <div class="form-group">
                    <label >Meu Nome</label>

                    <input  readonly type="text" value="@ticket.NameUser" />
                </div>

                <div class="form-group">
                    <label ></label>
                    <input  readonly type="text" value="@ticket.Description" />
                </div>

                <div class="form-group">
                    <label >Meu IP</label>
                    <input  readonly type="text" value="@ticket.IPlocal" />
                </div>
            }
        }


    </card>
</body>
</html>
